.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-top-div {
  background-color: #c5dce4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3em;
  height: 645px;
  width: 100%;
  padding: 8px;
}

.sub-div-left {
  height: 98.2%;
  width: 90%;
  margin: 8px;
  border-radius: 3px;
  background-color: #f7f7f7;
}

.pie-chart-div {
  height: 90%;
}

.sub-div-right {
  background-color: #c5dce4;
  display: flex;
  flex-direction: column;
  margin: 8px;
  height: 98.2%;
  width: 90%;
}

.sub-div-right div {
  flex: 1 1 auto;
}

.right-top-chart {
  background-color: #f7f7f7;
  border-radius: 3px;
  margin-bottom: 4px;
  height: 50%;
}
.right-bottom-chart {
  margin-top: 4px;
  border-radius: 3px;
  overflow: scroll;
  height: 50%;
}
