.form-container {
  margin: 0 auto;
  margin-top: 15%;
  padding: 2em 0 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #f7f7f7;
  box-shadow: 0 6px 4px -6px #292b2c;
}
.form-label {
  font-weight: bold;
}
