.show-lead-div {
  max-width: 50%;
  height: 740px;
  overflow-y: scroll;
  margin: auto;
  margin-top: 25px;
  background: #eff7f6;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.show-lead-div:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.show-lead-component p {
  padding-left: 12px;
}

.lead-id-div h3 {
  text-align: center;
}

.buttons-div {
  display: flex;
  justify-content: space-evenly;
}
