.edit-lead-form-component-div {
  max-width: 700px;
  padding: 40px 40px;
  margin: 3% auto;
  color: #000;
  background-color: #eff7f6;
}

.form-lead-contact-title {
  padding-top: 16px;
}

.lead-form-div {
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.lead-form-div:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.create-account-text-div {
  margin-top: 8px;
  text-align: center;
}
