.nav-bar-div {
  display: flex;
  flex-direction: column;
  background: #262626;
  width: 120px;
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding-top: 32px;
  padding-left: 18px;
}

.loginImgDiv {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  margin-top: 24px;
  margin-bottom: 4px;
  background: transparent url("./img/user-white.png") 0% 0% no-repeat
    padding-box;
  background-size: 40px;
  opacity: 1;
}

.blog-img {
  width: 40px;
  height: 40px;
  margin-left: 18px;
  margin-top: 280px;
  margin-bottom: -2px;
  background: transparent url("./img/blog.png") 0% 0% no-repeat
    padding-box;
  background-size: 35px;
  opacity: 1;
}

.blog-div p {
  color: #fff;
  margin-left: 16px;
  font-size: 14px;
}

#logout-img {
  margin-left: 22px;
}

#login-img {
  margin-left: 20px;
}

.logContainer p {
  color: #fff;
}

.logout-div:hover {
  cursor: pointer;
}

.dashBoardImgDiv {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  margin-top: 24px;
  background: transparent url("./img/dashboard.png") 0% 0% no-repeat padding-box;
  background-size: 40px;
  opacity: 1;
}

.user-profile-img-div {
  width: 40px;
  height: 40px;
  margin-left: 18px;
  margin-top: 24px;
  background: transparent url("./img/user-profile.png") 0% 0% no-repeat
    padding-box;
  background-size: 40px;
  opacity: 1;
}

.user-profile-div p {
  color: #fff;
}

.add-lead-img-div {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  background: transparent url("./img/add-icon.png") 0% 0% no-repeat padding-box;
  background-size: 40px;
  opacity: 1;
}

.add-lead-div {
  margin-top: 24px;
}

.add-lead-div p {
  color: #fff;
  margin-top: 8px;
  margin-left: 4px;
}

.dashBoardLink p {
  color: #fff;
}

@media only screen and (max-width: 1600px) {
  .nav-bar-div {
    width: 95px;
    padding: 8px;
    margin: 0px;
  }
  .add-lead-img-div {
    width: 30px;
    height: 30px;
    margin-left: 24px;
    background-size: 30px;
  }

  .add-lead-div p {
    font-size: 14px;
    margin-left: 9px;
  }

  .user-profile-img-div {
    width: 30px;
    height: 30px;
    margin-left: 24px;
    background-size: 30px;
  }

  .user-profile-div p {
    font-size: 14px;
  }

  .loginImgDiv {
    width: 30px;
    height: 30px;
    margin-left: 24px;
    background-size: 30px;
  }
  .logContainer p {
    font-size: 14px;
  }

  .dashBoardImgDiv {
    width: 30px;
    height: 30px;
    background-size: 30px;
    margin-left: 24px;
  }
  .dashBoardLink p {
    font-size: 14px;
    margin-left: 4px;
  }
}
