.edit-lead-button {
  padding: 8px 16px;
  border-radius: 5px;
  background: #262626;
  color: #fff;
  outline: none;
}

.edit-lead-button:hover {
  background: #acd5dc;
  color: #262626;
  outline: none;
}
