.nav-bar-div {
  display: flex;
  flex-direction: column;
  background: #262626;
  width: 120px;
  height: 100vh;
  margin: 0;
  padding-top: 32px;
  padding-left: 18px;
}

.loginImgDiv {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  margin-top: 32px;
  margin-bottom: 4px;
  background: transparent url("./img/user-white.png") 0% 0% no-repeat
    padding-box;
  background-size: 40px;
  opacity: 1;
}

#logout-img {
  margin-left: 22px;
}

#login-img {
  margin-left: 20px;
}

.logContainer p {
  color: #fff;
}

.dashBoardImgDiv {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  margin-top: 24px;
  background: transparent url("./img/dashboard.png") 0% 0% no-repeat padding-box;
  background-size: 40px;
  opacity: 1;
}

.add-lead-img-div {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  background: transparent url("./img/add-icon.png") 0% 0% no-repeat padding-box;
  background-size: 40px;
  opacity: 1;
}

.add-lead-div {
  margin-top: 24px;
}

.add-lead-div p {
  color: #fff;
  margin-top: 8px;
  margin-left: 4px;
}

.dashBoardLink p {
  color: #fff;
}
