.table-component-div {
  max-height: 500px;
  margin-bottom: 18px;
  overflow: scroll;
}

.table-title-div {
  text-align: center;
  margin-bottom: 8px;
}

.table-title-div h3 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #262626;
  opacity: 0.7;
}

@media only screen and (max-width: 1600px) {
  .table-component-div {
    background: pind;
    height: 350px;
  }
}
